label.label {
  display: block;
  font-weight: bold;
  font-size: 1.125rem;
}

.label .label__title {
  display: block;
  margin-bottom: .5rem;
}

.label--required > span:after {
  content: ' *';
  color: #ff5600;
}

.label .label__info {
  color: #aaa;
  font-weight: normal;
  font-size: 14px;
}
