.text-input {
  width: 100%;
  padding: 8px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 2px solid rgba(160,160,162,.7);
  border-radius: 5px;
  box-sizing: border-box;
}

.text-input:focus {
  border-color: #717274;
}

.text-input.text-input--big {
  font-size: 18px;
  padding: 16px;
}
